<?xml version="1.0" encoding="UTF-8"?>
<java version="15.0.1" class="java.beans.XMLDecoder">
 <object class="com.mycompany.vereinsmanager.Mitglied">
  <void property="PLZ">
   <string>48268</string>
  </void>
  <void property="email">
   <string>timo992000</string>
  </void>
  <void property="geburtsDatum">
   <object class="java.util.Date">
    <long>1611954766025</long>
   </object>
  </void>
  <void property="nachname">
   <string>schulze</string>
  </void>
  <void property="ort">
   <string>greven</string>
  </void>
  <void property="straße">
   <string>bism</string>
  </void>
  <void property="telefonNr">
   <string>0176</string>
  </void>
  <void property="vorname">
   <string>timo</string>
  </void>
 </object>
</java>
